<!DOCTYPE html>
<html>
<head>
<title>Surprise Meal for Today</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.center {
  padding: 70px 0;
  border: 3px solid rgb(54, 56, 54);
  text-align: center;
}
</style>
</head>

<body>
  <div class="center">   
      <p>“Are you ready for your surprise meal? Refresh to see new recommendations!</p> 
          <h2>Todays meal recommendation: {{ meal }}</h1>
          <h2>Price: ${{ price }}</h1>
          <hr class="w3-border-grey" style="margin:auto;width:60%"> 
  </div>
</div>
</body>
</html>